@model Sancrisoft.Models.Aplicantes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aplicantes</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Cargos.Descripcion)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Cargos.Descripcion)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Nombres)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Nombres)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Apellidos)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Apellidos)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UrlFoto)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UrlFoto)
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAplicante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
